body {
  font-family: "Montserrat", sans-serif;
}


#title {
  background: radial-gradient(#2b79fd, #d466fd, #ff4c68);
  background-size: 300% 300%;
  color: #fff;
  overflow: hidden;
  animation-name: title-background-colorchange;
  animation-duration: 30s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes title-background-colorchange {
  0%{background-position:7% 0}
  50%{background-position: 200% 53%}
  100%{background-position: 7% 0}
}

.container-fluid{
  padding: 3% 15%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

/* Download Buttons */

.download-button-apple {
  margin: 25% 2% 10% 0;
}

.download-button-google {
  margin: 25% 2% 10% 0;
}

.download-button-apple:hover {
  transform: scale(1.1);
}

.download-button-google:hover {
  transform: scale(1.1);
  background-color: inherit;
  color: #fff;
}

/* Title Image */

.title-image-container {
  display: flex;
  justify-content: center;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Features Section */
#features {
  background-color: white;
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  animation-name: icon-colorchange;
  animation-duration: 30s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  background: radial-gradient(#2b79fd, #d466fd, #ff4c68);
  background-size: 300% 300%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: #ff4c68;
  margin-bottom: 1rem;
}

@keyframes icon-colorchange {
  0%{background-position:7% 0}
  50%{background-position: 200% 53%}
  100%{background-position: 7% 0}
}

.icon:hover{
  transform: scale(1.1);
}

/* Testimonial Section */
#testimonials {
  animation-name: title-background-colorchange;
  animation-duration: 30s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  background: radial-gradient(#2b79fd, #d466fd, #ff4c68);
  background-size: 300% 300%;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.testimonial-text {
  text-shadow: 2px 2px 2px #00000080;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  margin-top: 10%;
  margin-bottom: 5%;
}

#press img {
  width: 90%;
  margin-bottom: 5%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

.card-header {
  box-shadow: 2px 0 5px#00000070;
}

.card-body {
  box-shadow: 2px 2px 5px #00000070;
}

.turn-invisible {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Call to Action */
#cta {
  margin-left: 25%;
}

.cta-button-apple {
  margin-top: 5%;
  margin-left: 8%;
}

.cta-button-google {
  margin-top: 5%;
  margin-left: 5%;
}

.cta-button-apple:hover {
  transform: scale(1.1);
}

.cta-button-google:hover {
  transform: scale(1.1);
  background-color: inherit;
  color: #000;
}
/* Footer */
#footer {
  margin-left: 40%;
  margin-top: 5%;
}
